body{
    background-color: #1F2121;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
#main #navbar {
    font-size: 13px;
    color: white;
    background-color: rgba(255, 255, 255, 0.101);
    margin: 0;
    position: relative;
    height: 50px;
}
#main #navbar ol{
    padding: 16px;
    list-style: none;
}
#main #navbar #myName{
    left: 5px;
    position: absolute;
}
#main #navbar .icon{
    font-size: 18px;
}
#main #navbar li{
    float: right;
    margin-left: 50px;
}
#main img{
    padding-right: 10px;
    float: left;
}

#main #info span{
    padding: 10px;
    color: white;
    font-size: 4.5em;
}
#main #info hr{
    display: inline-block;
    width: 35%;
}
#main #info p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 14px;
    padding-left: 50px;
}
#main #info button{
    margin-top: 22px;
    border: 1px solid #1F2121;
    padding: 16px 20px;
    font-size: 11px;
}
#main #info #play{
    color: white;
    background-color: #1F2121;
    margin-top: 22px;
    border: 1px solid #1F2121;
    padding: 16px 20px;
    font-size: 11px;
}
#main #info #play i{
    background-color: aliceblue;
    color: #1F2121;
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
